---
import { Icon } from "astro-icon"
import cx from "classnames"

import styles from "./styles.module.css"
---

<footer class={cx(styles.footer, "container--full")}>
  <p class={styles.copyright}>
    &copy; {new Date().getFullYear()} – Artifaction
  </p>

  <div>
    <a
      href="https://twitter.com/Artifaction_"
      aria-label="Follow Artifaction on Twitter (@Artifaction_)"
    >
      <Icon name="twitter" width="48" height="48" />
    </a>
  </div>

  <nav aria-label="Footer" class={styles.nav}>
    <ul class={styles.navItems}>
      <li>
        <a class={styles.navLink} href="/contact">Contact</a>
      </li>
      <li>
        <a class={styles.navLink} href="/imprint">Impressum</a>
      </li>
    </ul>
  </nav>
</footer>
