---
import { people } from "./people"
import styles from "./styles.module.css"
---

<!-- TODO: Images with webp and avif -->

<section class="container section">
  <ul class={styles.grid}>
    {people.map(({ name, jobTitle, twitter }) => (
      <li class={styles.listItem}>
        <div
          class={styles.person}
          itemscope
          itemtype="https://schema.org/Person"
        >
          <h3 itemprop="name" class={styles.name}>
            {name}
          </h3>
          <span itemprop="jobTitle" class={styles.jobTitle}>
            {jobTitle}
          </span>
          {twitter && (
            <a
              itemprop="url"
              href={`https://twitter.com/${twitter}`}
              aria-label={`Follow ${name} on Twitter (@${twitter})`}
              class={styles.twitter}
            >
              @{twitter}
            </a>
          )}
        </div>
      </li>
    ))}
  </ul>
</section>
